{% extends 'main/layout.html' %}
{% block title %} News shit {% endblock %}
{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% filter upper %}<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, tempore.</p> {% endfilter %}
        <button class="btn btn-warning">to our page</button>

        {% for el in values %}
            {% if el == 'Hello' %}
                {% filter upper %}
                <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {{ obj.age }}

        {% for el in obj %}
                <p>{{ el|upper }}</p>
        {% endfor %}
    </div>

    {% include 'main/test.html' %}
{% endblock %}
